<footer class="site-footer">
  <div class='copyright'>
    Copyright 2023 {{meta.author}}
  </div>
  <div class="social">
    {% if meta.linkedInUrl %}
        <a href="{{ meta.linkedInUrl }}" title='LinkedIn' target="_blank" rel="noopener noreferrer">
        <i class="fab fa-linkedin-in"></i>

        </a>
    {% endif %}
    
    {% if meta.githubUrl %}
        <a href="{{ meta.githubUrl }}" title='Github' target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github"></i>
        </a>
    {% endif %}
    
    {% if meta.email %}
        <a href="mailto:{{ meta.email }}" title="Email">
        <i class="fas fa-envelope"></i>
        </a>
    {% endif %}
    {% if meta.youtube %}
        <a href="{{ meta.youtube }}" title="Youtube">
        <i class="fab fa-youtube"></i>
        </a>
    {% endif %}
    </div>
</footer>
